*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

.password-generator{

}

/* Cabeçalho com informações de data e hora */
.password-generator__header{

}

.password-generator__datetime{

}

.password-generator__welcome{

}

.password-generator__main{

}

.password-generator__logo{

}

.password-generator__input{

}

.password-generator__result{

}

.hide{

}

.password-generator__history{
    
}